<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="../foundation.min.css">
  <link rel="stylesheet" href="../styles.css">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <h1><%= week[0] %> Week <%= week[1] %></h1>
  <% for day in days %>
    <h2><%= day[0].strftime('%A, %b %-d, %Y') %></h2>
    <% for clip in day[1] %>
      <% next if clip[1].strip.empty? %>
      <div class="th clip">
      <p class="time"><small><%= DateTime.iso8601(clip[1]).strftime('%A, %b %-d, %Y %T') %></small></p>
      <% clip[2].split("\n").each do |line| %>
        <p class="text"><%= line %></p>
      <% end %>
      </div>
    <% end %>
  <% end %>
</body>
</html>