<!doctype html>
<html>
<head>
  <style>
    <%= File.read('assets/normalize.css') %>
    <%= File.read('assets/foundation.min.css') %>
    <%= File.read('assets/styles.css') %>
  </style>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <script>
    function toggle(id) {
      var d = document.getElementById(id);

      d.style.display = (d.style.display == 'none' || d.style.display == '') ? 'block' : 'none';
    }

    function show(id) {
      var d = document.getElementById(id)

      if (d) d.style.display = 'block';
    }

    function hide(id) {
      var d = document.getElementById(id);

      if (d) d.style.display = 'none';
    }

    function show_all() {
      for (var i=0; i<7; i++) show('week' + i);
    }

    function hide_all() {
      for (var i=0; i<7; i++) hide('week' + i);
    }

    function toggle_all() {
      var flag = false;

      for (var i=0; i<7; i++) {
        var d = document.getElementById('week' + i);

        if (d) flag = (flag || (d.style.display != 'none' && d.style.display != ''));
      }

      flag ? hide_all() : show_all();
    }
  </script>
</head>
<body>
  <h1><a onclick="toggle_all(); "><%= week[0] %> Week <%= week[1] %></a></h1>
  <% for day in days %>
    <h2><a onclick="toggle('week<%= day[0].wday %>'); "><%= day[0].strftime('%A, %b %-d, %Y') %></a></h2>
    <div class="day" id="week<%= day[0].wday %>">
    <% for item in day[1] %>
      <% next if (item.type == :clip && item.text.strip.empty?) %>
      <div class="th clip">
      <p class="time"><small><%= item.datetime.strftime('%A, %b %-d, %Y %T') %></small></p>
      <% if item.type == :clip %>
        <% item.text.split("\n").each do |line| %>
          <p class="text"><%= line.strip.gsub("　", '') %></p>
        <% end %>
      <% end %>

      <% if item.type == :screenshot %>
        <a href="<%= item.path %>"><img class="screenshot th" src="<%= item.path %>"/></a>
      <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
</body>
</html>